/* ==========================================================================
=General Styles
========================================================================== */

body {
	background-color: #111;
	color: #aaa;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
}


.page-sections {
	position: relative;
}

.top-padding {
	padding-top: 5%;
}

a {
	color: #fff;
}

a:hover,
a:focus {
	color: #cf4646;
}

img {
	max-width: 100%;
	height: auto;
}

.current {
	background-color: #cf4646;
}


/* ==========================================================================
=Typography
========================================================================== */

h1 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 100;
	line-height: 49px;
}

h2 {
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-bottom: 30px;
}

h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 40px;
}

p {
	color: #aaa;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
}


/* ==========================================================================
=welcome-section (Header)
========================================================================== */

#logo {
	font-weight: 400;
	font-style: italic;
	font-size: 50px;
	margin-top: 2%;
}

#logo span {
	color: red;
}

#welcome-section {
	background: url(https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=746&q=80) center no-repeat scroll #111;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: inherit;
	padding: 40px 10px 60px 10px;
	overflow: hidden;
	width: 100%;
}

#welcome-section:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	background: -webkit-radial-gradient(top center, ellipse cover, rgba(10, 10, 10, 0.589) 0%, rgba(100, 4, 4, 0.287) 100%);
}


.header-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-bottom: 5%;
}

#top-nav {
	margin-top: 50px;
}

#top-nav a {
	display: inline-block;
	min-width: 100px;
}

#top-nav a:hover,
#top-nav a:active,
#top-nav a:focus {
	text-decoration: none;
}

#top-nav a:hover .bb-animate {
	background: #cf4646;
	width: 100%;
}

#top-nav img {
	margin-bottom: 10px;
	opacity: .7;
}

.bb-animate {
	display: block;
	height: 1px;
	width: 0;
	background: rgba(255, 255, 255, 0);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#navbar {
	display: none;
	position: fixed;
	z-index: 9999;
	right: 50px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#navbar a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#navbar a:hover,
#navbar .active {
	background-color: #cf4646;
}

.menu-links {
	display: inline-block;
	font-size: 15px;
	margin: 13px 0;
	min-width: 16px;
	padding: 10px 20px;
}

.menu-links:hover,
.menu-links:active,
.menu-links:focus {
	text-decoration: none;
}

.menu-links img {
	min-width: 16px;
}

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


/* ==========================================================================
=ABOUT SECTION
========================================================================== */

#sec2 {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.description {
	padding: 12px 50px;
	border: 1px solid #4d4d4d;
}

.glow-num {
	height: 50vh;
	padding-top: 25%;
}

.glow {
	color: #fff;
	font-size: 50px;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
	letter-spacing: 3px;
  }
  
  @-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }


/* ==========================================================================
=PORTFOLIO SECTION
========================================================================== */

#sec3 {
	background: url(https://himigatliwanag.files.wordpress.com/2016/01/milky-way.jpg) top center fixed no-repeat;
	background-size: cover;
}


/* ==========================================================================
=CONTACT SECTION
========================================================================== */

#sec4 {
	width: 100%;
}

.contact-info {
	background: url(https://himigatliwanag.files.wordpress.com/2016/01/ocean.jpg) repeat;
	padding: 80px 50px;
}

.contact-info a:hover {
	text-decoration: none;
}

.email-link {
	margin-top: 50px;
}

/* ==========================================================================
=FOOTER SECTION
========================================================================== */

footer {
	position: absolute;
	bottom: 10px;
	left: 15px;
	width: 100%;
}

@media only screen and (max-width: 991px) {
	.slick-custom-nav {
		margin-top: 0;
		cursor: pointer;
	}
}

@media only screen and (max-width: 930px) {

	#navbar {
		position: fixed;
		bottom: -1px;
		right: auto;
		top: auto;
		width: 100%;
		height: 45px;
		transform: none;
		text-align: center;
		background-color: #3F3F3F;
	}

	#navbar a {
		display: inline-block;
		height: 45px;
		width: 18%;
		margin: 0;
		border: none;
	}
}

@media only screen and (max-width: 1200px) {
	.scoopy {
		height: 544px;
	}

	.skills img {
		margin: 10px 5px;
		height: 29px;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		line-height: 41px;
	}
}

@media only screen and (max-width: 490px) {

	.header-info h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 414px) {
	.scoopy {
		height: 300px;
	}

	.description {
		padding: 12px 20px;
	}
}

@media only screen and (max-width: 409px) {
	.header-info br {
		display: none;
	}
}

@media only screen and (max-width: 365px) {
	.email-link h3 {
		font-size: 18px;
	}
}



/* HEIGHT */

@media only screen and (max-height: 414px) {
	.header-info {
		margin-bottom: 4%;
	}

	#top-nav {
		margin-top: 40px;
	}

	.scoopy {
		height: 200px;
	}
}

@media only screen and (max-height: 320px) {
	.header-info {
		margin-bottom: 3%;
	}

	.header-info h1 {
		font-size: 20px;
		line-height: 29px;
	}

	#top-nav {
		margin-top: 30px;
	}

	.scoopy {
		height: 160px;
	}
}

/* ================ GRAPHS AREA ===================== */

.chartBarsWrap {
	padding-left: 40px;
	margin: 0 30px 0 20px;
}

.chartBars {
	position: relative;
	max-width: 600px;
	height: 300px;
	margin: 50px auto 100px;
}

.chartBars .bars {
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	width: 100%;
	height: 100%;
	padding: 0;
	padding: 0 1%;
	margin: 0;
}

.chartBars .bars li {
	display: inline-block;
	-webkit-box-flex: 0;
	flex: 0 1 24%;
	height: 100%;
	margin: 0;
	text-align: center;
	position: relative;
	font-size: 16px;
}

.chartBars .bars li .bar {
	width: 100%;
	background: #49E;
	position: absolute;
	font-size: 1.5em;
	color: #fff;
	padding-top: 18px;
	bottom: 0;
	height: 0;
	overflow: hidden;
	font-weight: bold;
	outline: 2px solid transparent;
	-webkit-transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
	transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
}

.chartBars .bars li .bar:after {
	content: '%';
	font-size: 22px !important;
	vertical-align: top;
	color: rgba(255, 255, 255, 0.8);
	margin-right: -8px;
}

.chartBars .bars li b {
	color: #eee;
	width: 100%;
	position: absolute;
	bottom: -2em;
	left: 0;
	text-align: center;
}

.chartBars .numbers {
	width: 50px;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	left: -50px;
}

.chartBars .numbers li {
	text-align: right;
	padding-right: 1em;
	list-style: none;
	height: 59px;
	position: relative;
	font-size: 13px;
	bottom: 11px;
	right: -9px;
	color: #eee;
}

.chartBars .numbers li:after {
	content: "\00af";
	position: relative;
	right: -5px;
	font-size: 20px;
	top: 7px;
	color: rgba(255, 255, 255, 0.34);
}

.chartBars .numbers li:first-of-type {
	height: 63px;
	margin-top: -1px;
}

.chartBars1 .bar {
	border-top-right-radius: 30px;
}

.chartBars2 {
	max-width: 350px;
}

.chartBars2 .bars {
	padding: 0;
}

.chartBars2 .bars li {
	-webkit-box-flex: 0;
	flex: 0 1 25%;
}

.chartBars2 .bars li .bar {
	box-shadow: 0 0 20px #222;
}

.chartBars3 {
	background: rgba(255, 255, 255, 0.1);
	border-top: 1px solid #666;
	border-right: 1px solid #666;
}

.chartBars3 .bars {
	border-color: #666;
	padding: 0;
}

.chartBars3 .bars li .bar {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 22px !important;
}

.chartBars3 .bars li .bar:after {
	font-size: 0.6em !important;
}

.chartBarsWrap.chartBarsHorizontal {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-left: 70px;
}

.chartBarsWrap.chartBarsHorizontal .bars b {
	color: #eee;
	width: 100%;
	position: absolute;
	bottom: initial;
	top: 1em;
	left: -102%;
	text-align: right;
}

.chartBarsWrap.chartBarsHorizontal .chartBars {
	height: 200px;
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars {
	border: 0;
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
	width: 0;
	padding-top: 10px;
	height: 100% !important;
	text-align: right;
	font-size: 1.5em;
	-webkit-transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
	transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
}

.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
	font-size: 0.6em !important;
	margin-right: 20px;
}

.bars li .bar.greenBar {
	background-color: #6B8E23;
	background: radial-gradient(#99cb32, #6B8E23);
}

.bars li .bar.greenBarFlat {
	background-color: #6B8E23;
}

.bars li .bar.blueBar {
	background-color: #49E;
	background: radial-gradient(#8abff4, #49E);
}

.bars li .bar.blueBarFlat {
	background-color: #49E;
}

.bars li .bar.orangeBar {
	background-color: orange;
	background: radial-gradient(#ffc04d, #FFA500);
}

.bars li .bar.orangeBarFlat {
	background-color: orange;
}

.bars li .bar.purpleBar {
	background-color: #6e46af;
	background: radial-gradient(#9778c9, #6e46af);
}

.bars li .bar.purpleBarFlat {
	background-color: #6e46af;
}

.chartBarsHorizontal .chartBars .bars {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	.bar:before {
		font-size: 2em !important;
	}

	.chartBars3 .bar:before {
		font-size: 1.5em !important;
	}
}

.tooltip>.tooltipContent {
	display: block;
	position: absolute;
	background: none repeat scroll 0 0 #222;
	color: #F0B015;
	font-family: 'Helvetica';
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 16px 15px;
	min-width: 200px;
	max-width: 500px;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -110%);
	transform: translate(-50%, -110%);
	margin-left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align: center;
	z-index: 2;
	text-transform: none;
	-webkit-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tooltip:hover>.tooltipContent {
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 99;
	-webkit-transform: translate(-50%, -130%);
	transform: translate(-50%, -130%);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.tooltip .tooltipContent:after {
	border-color: #222 rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	width: 0;
}

/* ================= brand images section ================ */

#c {
	position: relative;
	max-width: 100%;
	height: auto;
	margin-bottom: 250px;
}

#d {
	margin-top: 20px;
	position: relative;
	max-width: 100%;
	height: auto;
	margin-bottom: 250px;
}

ol>li {
	width: 25%;
	list-style-type: none;
	position: absolute;
	top: 0;
	padding: 20px;
	height: 200px;
	opacity: 0;
	padding-top: 40px;
	text-align: center;
	transition: 1s opacity;
}

li img {
	max-width: 100%;
	height: auto;
}

.active {
	opacity: 1;
}

/* ================================= */

@-webkit-keyframes bake-pie {
	from {
	  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
			  transform: rotate(0deg) translate3d(0, 0, 0);
	}
  }
  
  @keyframes bake-pie {
	from {
	  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
			  transform: rotate(0deg) translate3d(0, 0, 0);
	}
  }
  .pie-chart {
	font-family: "Open Sans", Arial;
  }
  .pie-chart--wrapper {
	width: 400px;
	margin: 30px auto;
	text-align: center;
  }
  .pie-chart__pie, .pie-chart__legend {
	display: inline-block;
	vertical-align: top;
  }
  .pie-chart__pie {
	position: relative;
	height: 200px;
	width: 200px;
	margin: 10px auto 35px;
  }
  .pie-chart__pie::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 100px;
	height: 100px;
	background: #EEE;
	border-radius: 50%;
	top: 50px;
	left: 50px;
  }
  .pie-chart__pie::after {
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
	margin: 220px auto;
  }
  
  .slice {
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px, 200px, 200px, 100px);
	-webkit-animation: bake-pie 1s;
			animation: bake-pie 1s;
  }
  .slice span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px);
  }
  
  .pie-chart__legend {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	background: #FFF;
	padding: 0.75em 0.75em 0.05em;
	font-size: 13px;
	box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
	text-align: left;
	width: 65%;
  }
  .pie-chart__legend li {
	height: 1.25em;
	margin-bottom: 0.7em;
	padding-left: 0.5em;
	border-left: 1.25em solid black;
  }
  .pie-chart__legend em {
	font-style: normal;
  }
  .pie-chart__legend span {
	float: right;
  }
  
  .pie-charts {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
			flex-direction: row;
  }
  @media (max-width: 500px) {
	.pie-charts {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
			  flex-direction: column;
	}
  }
